<h1>Filmes</h1>

<%= button_to 'Cadastrar', new_movie_path, method: :get %>

<br>

<% @movies.each do |movie| %>

<% if movie.poster.attached? %>
  <%= image_tag movie.poster.variant(resize: "100x50") %>

<% else %>
  <%= image_tag 'default_poster.jpeg', size: "50x50", alt: 'Imagem padrão' %>


<% end %>

<%= link_to "#{movie.title} (#{movie.release_year.present? ? movie.release_year : 'Em breve'})", movie %>

<br>

<% end %>